:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

body,
p {
  font-family: var(--font-roboto);
  line-height: 1.6;
  color: #333;
}
